{% extends "blog/base_login.html" %}
{% block content %}
<h1 style="font-size: 40px; margin-bottom: 1%;"> Who am I </h1>
<hr style="margin-right: 3%;"><p></p>
<h2> Name &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp: WooJong Kim</h2>
<p></p><p></p><p></p>
<h2> ID &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp: c0wb3ll </h2>
<p></p><p></p><p></p>
<h2> Age &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp: 21 </h2>
<p></p><p></p><p></p>
<h2> University &nbsp&nbsp&nbsp: Joongbu University</h2>
<p></p><p></p><p></p>
<h2> Department : Software Engineering </h2>
<p></p><p></p><p></p>
<h2> Team &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp: TeamSCP </h2>
<p></p><p></p>
<h3> &nbsp&nbsp&nbsp.Major - Digital Forensic, Pwanble </h3>
<p></p><p></p>
<h3> &nbsp&nbsp&nbsp.Minor - Reversing, WEB </h3>
<p></p><p></p><p></p>
<h2> Programming Language</h2>
<h3> &nbsp&nbsp&nbsp .C</h3>
<p></p><p></p>
<h3> &nbsp&nbsp&nbsp .C++</h3>
<p></p><p></p>
<h3> &nbsp&nbsp&nbsp .Python</h3>
<p></p><p></p><p></p>
<h2> SNS </h2>
<h3> &nbsp&nbsp&nbsp .Tistory : <a href ="https://c0wb3ll.tistory.com/"> c0wb3ll.tistory.com </a></h3>
<p></p><p></p>
<h3> &nbsp&nbsp&nbsp .GitHub : <a href ="https://github.com/c0wb3ll"> github.com/c0wb3ll </a></h3>
<p></p>
<h2> Introduce </h2>
<p>An ordinary student who wants to become a hacker by studying security. </p>
{% endblock %}